---
repo_git: 
app_name: 
ruby_version: 

# Email para avisos de expiração dos certificados
email_from: 

nginx:
  public_ip: 
  domain: 

# Comentar caso não utilizar
postgres:
  superUserPassword:
  database:
  username:
  password:

# Comentar caso não utilizar
mysql:
  superUserPassword:
  database:
  username:
  password:

puma:
  workers:
  min_threads:
  max_threads:
  tcp_port:
  ssl_port:

# Conteúdo do arquivo application.yml
application:
  template: |+
    