
    # Change to match your CPU core count
    workers {{ puma.workers }}
    
    # Min and Max threads per worker
    threads {{ puma.min_threads }}, {{ puma.max_threads }} 
    
    plugin :tmp_restart

    preload_app!

    app_dir = File.expand_path("../..", __FILE__)
    shared_dir = "#{app_dir}/shared"
    
    # Default to production
    rails_env = ENV['RAILS_ENV'] || "production"
    environment rails_env
    
    # Set up socket location
    bind "unix://#{shared_dir}/sockets/{{ app_name }}.sock"
    bind "tcp://0.0.0.0:{{ puma.tcp_port }}"
    # bind 'ssl://0.0.0.0:{{ puma.ssl_port }}?key=/etc/letsencrypt/live/{{ nginx.domain }}/privkey.pem&cert=/etc/letsencrypt/live/{{ nginx.domain }}/cert.pem'
    
    # Logging
    stdout_redirect "#{shared_dir}/log/{{ app_name }}.stdout.log", "#{shared_dir}/log/{{ app_name }}.stderr.log", true
    
    # Set master PID and state locations
    pidfile "#{shared_dir}/pids/{{ app_name }}.pid"
    state_path "#{shared_dir}/pids/{{ app_name }}.state"
    activate_control_app